@import "./base.css";
@import "./styles.css";

.login {
    background-color: var(--background);
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    min-height: 300px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login > h1 {
    float: top;
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    margin: 5%;
}

.login > h3{
    float: top;
    color: var(--title-color);
    text-align: center;
    font-size: 24px;
    margin: 1%;
}

.form {
    text-align: center;
    margin: 10px;
}

.input {
    border-width: 2px;
    border-color: var(--title-color);
    border-radius: 5px;
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}
