@import "./base.css";

.header {
    text-align: center;
    color: var(--title-color);
    font-size: 30px;
    margin-top: 10px;
    padding-top: 10px;
}

.button {
    border-width: 2px;
    border-color: var(--title-color);
    border-radius: 10px;
    width: 200px;
    background-color: var(--title-color);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 15px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {opacity: 1}

html, body {
    height: 100%;
    background-color:var(--background);
    margin: 0 auto;
}